.footer {
	clear: both;
	max-width: 780px;
	text-align: center;
	font-size: 12px;
	padding: 30px 0px;
	margin: 0 auto;
}

.footer a {
	color: #A6A6A6;
	margin: 0px 6px;
}

.footer a:hover {
	color: #1F1F1F;
}

.footer .footer_nav_container .site_nav_wrap {
	text-align: center;
}

.footer .footer_nav_container .site_nav {
	display: inline-block;
	float: none;
}

.footer .footer_nav_container .site_nav a {
	font-size: 13px;
	color: #666;
}

.footer .footer_nav_container .site_nav a.current {
	color: #222;
}

.footer .icp {
	margin: 0;
	padding-top: 10px;
	font-size: 11px;
}

.footer .icp a {
	color: #cccccc;
	margin: 0px 2px;
}

.footer .icp a:hover {
	color: #1F1F1F;
}

.footer .footer_slogan {
	padding-top: 25px;
	padding-bottom: 10px;
	color: #000;
	font-size: 16px;
	letter-spacing: 1px;
}
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9 */
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/c90f7d52472541a190fcab1bbfeddb54.woff') format('woff2'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}
.icon {
  width: 3em;
  height: 3em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guoqi:before {
  content: "\e6b8";
}

.icon-telegram:before {
  content: "\e799";
}

.icon-twitter:before {
  content: "\e600";
}

.icon-weibo:before {
  content: "\e639";
}

.icon-JamIconsinstagramcircle:before {
  content: "\edfd";
}